.cryptocurrencies {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  margin-top: 110px;

  &-table {
    width: 100%;

    border-collapse: separate;
    border-spacing: 20px;

    @media (max-width: 568px) {
      font-size: 14px;
      border-spacing: 10px;
    }

    &__head {
      tr {
        th {
          text-align: left;
        }
      }
    }
    &__body {
      .cryptocurrency-name {
        color: #3861fb;
        font-weight: bold;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
