.primary-button {
    width: -moz-fit-content;
    width: fit-content;

    padding: 10px 20px;

    font-weight: 600;

    color: #fff;
    background-color: #3861fb;

    border-radius: 15px;

    outline: 0px;
}
