.details-wrapper {
  margin: 104px 10px 20px 10px;
  .details-container {
    display: flex;
    row-gap: 20px;
    column-gap: 100px;
    justify-content: center;

    padding: 25px;
    margin-top: 10px;

    background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246));

    border-radius: 15px;

    &__column {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    &__item {
      font-size: 32px;
      color: #fff;

      @media (max-width: 568px) {
        font-size: 20px;
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .chart-wrapper {
    padding: 10px;
  }
}
