.portfolio-background {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background-color: #92929252;

    z-index: 3;

    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;

        width: 400px;
        height: 300px;

        padding: 20px 15px 10px 15px;

        background-color: #fff;

        border-radius: 20px;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;

            > button {
                background-color: #26aefc;
            }
        }
        &-title {
            font-size: 20px;
            font-weight: bold;
        }
        &-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;
            flex: 1 0 auto;

            width: 100%;

            font-size: 12px;

            overflow-y: auto;

            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }

            &__item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 10px;

                width: 100%;

                > button {
                    background-color: #fc2626;
                }
            }
        }

        .empty-block-text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 0 auto;

            width: 100%;

            font-size: 18px;
            font-weight: bold;
        }

        &-footer {
            display: flex;
            justify-content: flex-end;

            width: 100%;

            &__info {
                font-weight: bold;
            }
        }

        @media (max-width: 425px) {
            width: 310px;
            height: 300px;

            padding: 20px 10px 10px 10px;
        }
    }

    .cryptocurrency-wrapper {
        display: flex;
        align-items: center;
        column-gap: 5px;

        .cryptocurrency-logo {
            width: 32px;
            height: 32px;
        }
        .cryptocurrency-name {
            font-size: 12px;
        }
    }
}
.none {
    display: none;
}
